BowlingScoring/BowlingScoring/obj/Debug/netcoreapp3.1/BowlingScoring.AssemblyInfo.cs
BowlingScoring/BowlingScoring/obj/Debug/netcoreapp3.1/BowlingScoring.AssemblyInfoInputs.cache
BowlingScoring/BowlingScoring/obj/Debug/netcoreapp3.1/BowlingScoring.assets.cache
BowlingScoring/BowlingScoring/obj/Debug/netcoreapp3.1/BowlingScoring.csproj.FileListAbsolute.txt
BowlingScoring/BowlingScoring/obj/Debug/netcoreapp3.1/BowlingScoring.csprojAssemblyReference.cache
BowlingScoring/BowlingScoring/obj/Debug/netcoreapp3.1/BowlingScoring.dll
BowlingScoring/BowlingScoring/obj/Debug/netcoreapp3.1/BowlingScoring.pdb
BowlingScoring/.vs/BowlingScoring/v16/.suo
BowlingScoring/.vs/BowlingScoring/v16/Server/sqlite3/db.lock
BowlingScoring/.vs/BowlingScoring/v16/Server/sqlite3/storage.ide
BowlingScoring/.vs/BowlingScoring/v16/Server/sqlite3/storage.ide-shm
BowlingScoring/.vs/BowlingScoring/v16/Server/sqlite3/storage.ide-wal
BowlingScoring/.vs/BowlingScoring/v16/TestStore/0/000-0000.testlog
BowlingScoring/.vs/BowlingScoring/v16/TestStore/0/testlog.manifest
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/BowlingScoring.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/BowlingScoring.pdb
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/BowlingScoring.UnitTests.deps.json
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/BowlingScoring.UnitTests.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/BowlingScoring.UnitTests.pdb
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/BowlingScoring.UnitTests.runtimeconfig.dev.json
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/BowlingScoring.UnitTests.runtimeconfig.json
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/Microsoft.DotNet.InternalAbstractions.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/nunit.engine.api.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/nunit.engine.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/nunit.framework.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.pdb
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/StyleCop.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/testhost.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
BowlingScoring/BowlingScoring.UnitTests/obj/BowlingScoring.UnitTests.csproj.nuget.cache
BowlingScoring/BowlingScoring.UnitTests/obj/BowlingScoring.UnitTests.csproj.nuget.dgspec.json
BowlingScoring/BowlingScoring.UnitTests/obj/BowlingScoring.UnitTests.csproj.nuget.g.props
BowlingScoring/BowlingScoring.UnitTests/obj/BowlingScoring.UnitTests.csproj.nuget.g.targets
BowlingScoring/BowlingScoring.UnitTests/obj/Debug/netcoreapp3.1/BowlingScoring.UnitTests.AssemblyInfo.cs
BowlingScoring/BowlingScoring.UnitTests/obj/Debug/netcoreapp3.1/BowlingScoring.UnitTests.AssemblyInfoInputs.cache
BowlingScoring/BowlingScoring.UnitTests/obj/Debug/netcoreapp3.1/BowlingScoring.UnitTests.assets.cache
BowlingScoring/BowlingScoring.UnitTests/obj/Debug/netcoreapp3.1/BowlingScoring.UnitTests.csproj.CopyComplete
BowlingScoring/BowlingScoring.UnitTests/obj/Debug/netcoreapp3.1/BowlingScoring.UnitTests.csproj.FileListAbsolute.txt
BowlingScoring/BowlingScoring.UnitTests/obj/Debug/netcoreapp3.1/BowlingScoring.UnitTests.csprojAssemblyReference.cache
BowlingScoring/BowlingScoring.UnitTests/obj/Debug/netcoreapp3.1/BowlingScoring.UnitTests.dll
BowlingScoring/BowlingScoring.UnitTests/obj/Debug/netcoreapp3.1/BowlingScoring.UnitTests.pdb
BowlingScoring/BowlingScoring/bin/Debug/netcoreapp3.1/BowlingScoring.deps.json
BowlingScoring/BowlingScoring/bin/Debug/netcoreapp3.1/BowlingScoring.dll
BowlingScoring/BowlingScoring/bin/Debug/netcoreapp3.1/BowlingScoring.pdb
BowlingScoring/BowlingScoring/obj/BowlingScoring.csproj.nuget.cache
BowlingScoring/BowlingScoring/obj/BowlingScoring.csproj.nuget.dgspec.json
BowlingScoring/BowlingScoring/obj/BowlingScoring.csproj.nuget.g.props
BowlingScoring/BowlingScoring/obj/BowlingScoring.csproj.nuget.g.targets
BowlingScoring/.vs/BowlingScoring/v16/TestStore/1/000-0000.testlog
BowlingScoring/.vs/BowlingScoring/v16/TestStore/1/testlog.manifest
BowlingScoring/.vs/BowlingScoring/DesignTimeBuild/.dtbcache
BowlingScoring/BowlingScoring.UnitTests/StyleCop.Cache
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/FluentAssertions.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
BowlingScoring/BowlingScoring.UnitTests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
BowlingScoring/BowlingScoring/StyleCop.Cache
